
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
}



.container-width-1440{
    margin: auto;
    padding: 0 15px;
    max-width: 1440px;
}

header{
    display: flex;
    align-items: center;
    margin: 20px 100px;
}

header img{
    width: 300px;
    margin: 40px 500px 40px 30px;
}

.deroulant>a::after{
    content: "▼";
    font-size: 12px;
}

.deroulant{
    display: block;
    border-bottom: 2px solid transparent;
}

.sous{
    display: none;
    position: absolute;
}



nav > ul li:hover .sous{
    display: block;
}



nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding-left: 0;
}

nav a{
    text-decoration: none;
    color: #423b73;
}

nav a:hover{
    color: #30cd8a;
    transition: all 0.2s;
}

#Acceuil{
    color: #30cd8a;
}

#E-learning{
    color: #e34e67;
}

#E-learning:hover{
    color: #30cd8a;
}

#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin: auto;
    max-width: 75%;
}

#section1 p{
    margin-bottom: 20px;
    color: #423b73;
}

#section1 a{
    text-decoration: none;
    border: 1px solid #30cd8a;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 30px;
}

#section1 > article > a:nth-child(4){
    color: #fff;
    background-color: #30cd8a;
    margin-right: 20px;
    transition: all 0.2s;
}

#section1 > article >a:hover:nth-child(4){
    color: #30cd8a;
    background-color: #fff;
    transition: all 0.2s;
}

#section1 > article > a:nth-child(5){
    color: #30cd8a;
}

#section1 > article > a:hover:nth-child(5){
    color: #fff;
    background-color: #30cd8a;
    transition: all 0.2s;
}

#section1 h1{
    font-size: 22px;
    font-weight: 100;
    font-family: 'Pacifico',sans-serif;
    color: #e34e67;
}

#section1 h2{
    color: #423b73;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

#section1 p{
    font-size: 16px;
    font-family: 'Open sans',sans-serif;
}


#section1 img{
    margin: 100px;
}

#section2  {
    background-color: #1e1d31;
    color: #fff;
    padding: 40px;
}

#section2 > div:nth-child(1),
#section2 > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#section2 a{
    text-decoration: none;
    border: 1px solid #30cd8a;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 60px;
    margin: 25px auto;
    padding: 10px 30px;
    color: #30cd8a;
    transition: all 0.2s;
}

#section2 a:hover{
    color: #fff;
    background-color: #30cd8a;
    transition: all 0.2s;
}

#section2 img{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

#section2 div{
    padding: 20px;
    max-width: 60%;
    margin: 10px auto;
}

#section2 > div:nth-child(1) > article:nth-child(1){
    margin-bottom: 100px;
}

#section2 > div:nth-child(2) > article:nth-child(1){
    margin-bottom: 100px;
}

#section2 h3{
    color: #30cd8a;
    font-size: 16px;
    margin-bottom: 15px;
}

#section3 > article > h2{
    color: #e34e67;
    font-size: 22px;
    font-family: 'Pacifico',sans-serif;
}

#section3 > article > h3{
    color: #423b73;
    margin-bottom: 20px;
}

#section3 > article > p{
    font-size: 16px;
    font-family: 'Open sans',sans-serif;
}

#section3 > article > h3{
    font-family: 'Oswald',sans-serif;
    font-size: 32px;
}

#section3 > article{
    text-align: center;
    margin: auto;
    max-width: 640px;
    padding: 50px;
}

#section3 img{
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}

#section3{
    max-width: 1440px;
    margin: auto;
}

#section3 > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section3 > div > article:nth-child(1){
    padding: 30px;
    margin: auto    ;
}

#section3 > div > article:nth-child(2){
    padding: 30px;
}

#section3 > div > article:nth-child(1) > h4,
#section3 > div > article:nth-child(2) > h4{
    margin-top: 20px;
    margin-left: 150px;
    font-size: 24px;
    font-family: 'Oswald',sans-serif;
    color: #423b73;
}

#section3 > div > article:nth-child(1) > p:nth-child(3),
#section3 > div > article:nth-child(2) > p:nth-child(3){
    margin-left: 150px;
    color: #30cd8a;
    font-size: 16px;
}

#para{
    margin-top: 50px;
    background-color: #1e1d31;
    max-width: 640px;
    color: #fff;
    padding: 75px;
    border: 1px solid;
    border-radius: 30px;
}

#section4{
    max-width: 1440px;
    margin: auto;
    margin-bottom: 200px;
}

#section4 > article{
    padding: 75px;
    text-align: center;
    margin: auto;
}

#section4 > article h2{
    color: #e34e67;
    font-size: 22px;
    font-family: 'Pacifico',sans-serif;
}

#section4 > article h3{
    color: #423b73;
    font-size: 38px;
    font-family: 'Oswald',sans-serif;
    max-width: 640px;
    margin: auto;
}

#section4 > div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#section4 > div > article{
    background-color: #1e1d31;
    color: #fff;
    list-style: none;
    max-width: 925px;
    padding: 80px 0px 80px 35px;
    border-radius: 30px 0px 0px 30px;
}

#section4 h4{
    color: #30cd8a;
    font-size: 28px;
    font-family: 'Oswald',sans-serif;
    margin-bottom: 15px;
}

#section4 > div > img{
    width: 100%;
}

#section4 li{
    margin-left: 20px;
}

#section4 li::before{
    content:url(/img/Avantli.png);
    position: relative;
    bottom: -6px;
    left: -5px;
}

#section4 a{
    text-decoration: none;
    border: 1px solid #30cd8a;
    border-radius: 10px;
    text-align: center;
    padding: 13px 25px;
    color: #fff;
    transition: all 0.2s;
    background-color: #30cd8a;
    margin: auto;
    font-size: 16px;
}

#section4 a:hover{
    color: #30cd8a;
    background-color: #fff;
    transition: all 0.2s;
}

#section5{
    max-width: 1440px;
    margin: auto;
    margin-bottom: 200px;
}

#section5 > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
}

#section5 > div > article{
    background-color: #1e1d31;
    color: #fff;
    list-style: none;
    max-width: 925px;
    padding: 80px 0px 80px 35px;
    border-radius: 0px 30px 30px 0px;
}

#section5 a{
    text-decoration: none;
    border: 1px solid #30cd8a;
    border-radius: 10px;
    text-align: center;
    padding: 13px 25px;
    color: #30cd8a;
    transition: all 0.2s;
    background-color: #fff;
    margin-left: 750px;
    font-size: 16px;
}

#section5 a:hover{
    color: #fff;
    background-color: #30cd8a;
    transition: all 0.2s;
}

#section5 li{
    margin-left: 20px;
}

#section5 li::before{
    content:url(/img/Avantli.png);
    position: relative;
    bottom: -6px;
    left: -5px;
}

#section6{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 80px;
    white-space-collapse: preserve-breaks;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

#div1{
    width: 50%;
    padding-left: 200px;
}

#div1 h2{
    color: #e34e67;
    font-size: 22px;
    font-family: 'Pacifico',sans-serif;
}

#div1 h3{
    color: #423b73;
    font-size: 32px;
    font-family: 'Oswald',sans-serif;
}

#div1 p{
    font-size: 16px;
    font-family: "Open sans",sans-serif;
}

#div2{
    background-color: #1e1d31;
    padding: 50px;
}

#mail{
    padding: 8px 60px;
}

#section6  > div > form >input{
    border: 1px solid  #30cd8a;
    background-color: transparent;
    color: #fff;
    margin-bottom: 20px;
}

#mail,#entreprise{ 
    padding: 8px 416px 8px 20px;
}

#numéro{
    padding: 8px 100px 8px 20px;
    margin-left: 10px;
}

#nomprenom{
    padding: 8px 100px 8px 20px;
    margin-right: 10px;
}

#select1{
    border: 1px solid #30cd8a;
    color: #fff;
    background-color: #1e1d31;
    padding: 8px 142px 8px 20px;
}

#section6  input#bouton{
    color: #fff;
    transition: all 0.2s;   
    display: inline-block;
    border: 1px solid #30cd8a;
    background-color: #30cd8a;
    margin: 0px;
    padding: 8px 30px;
    border-radius: 5px;
}

#section6  input#bouton:hover{
    background-color: #e34e67;
    transition: all 0.2s;
    border: #e34e67;
}

#demande{
    background-color: transparent;
    border: 1px solid #30cd8a;
    color: #fff;
}

label{
    color: #fff;
}

#section6 > article > div{
    padding: 20px 40px;
}

#div2 h3{
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-family: 'Oswald',sans-serif;
}


footer{
    background-color: #363450;
    margin-top: 100px;
}

footer > div{
    max-width: 1440px;
    margin: auto;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    color: #fff;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

footer  h2{
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Oswald',sans-serif;
}

footer  a{
    margin-bottom: 20px;
}

footer ul > li > a{
    text-decoration: none;
    color: #fff;
    display: flex;
}

footer ul > li > a:hover{
    color: #30cd8a;
}

body > footer > p{
    background-color: #fff;
    margin: auto;
    text-align: center;
    color: #000000;
    padding: 20px;
    margin-top: 20px;
}

body > footer > p > a{
    text-decoration: none;
    color: #000000;
}

body > footer > p > a:hover{
    color: #ff0000;
    transition: all 0.2s;
}

